/* General container */
body, html {
  height: 100%;
  margin: 0;
}

main.contact-container {
  min-height: calc(100vh - 160px); /* adjusts for header + footer */
  display: flex;
  justify-content: center;
  align-items: self-start;
  padding: 20px;
}

.contact-title {
  font-size: 1.8rem;
  color: #2c3e50;
  font-weight: 700;
  text-align: center;
}

/* Card styling */
.address-card {
  background: #ffffff;
  padding: 0px 40px 40px;
  border-radius: 12px;
  width: 80%;
  max-width: 350px;
  text-align: left;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  border: 0.5px solid #e8e8e8;
  margin-top: 30px;
}

/* Paragraphs and icons */
.address-card p {
  margin: 12px 0;
  font-size: 1rem;
  display: flex;
  align-items: center; /* centers icons vertically */
  gap: 10px; /* evenly space icon and text */
  color: #444;
  line-height: 1.6;
  
}

.icon {
  color: #727171;
  font-size: 1.2rem;
  vertical-align:bottom; /* aligns icon with text baseline */
  position: relative;
  top: 6px; /* fine-tunes vertical position */
}

.address-card a {
  color: #0070f3;
  text-decoration: none;
  font-weight: 500;
}

.address-card a:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .address-card {
    padding: 20px;
    max-width: 90%;
  }

  .address-card p {
    font-size: 0.95rem;
  }

  .contact-title {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .icon {
    font-size: 1rem;
    top: 5px;
  }
}

/* Footer stays at bottom */
footer {
  margin-top: auto;
  width: 100%;
}
